* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/* MAIN */

main {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0px 20px 0px;
    font-size: 50px !important;
    text-align: center;
}

h2 {
    margin: 20px 0px 40px 0px;
    font-size: 20px;
    text-align: center;
    justify-self: center;
    word-wrap: break-word; 
}

p{
    padding: 30px;
    text-align: center;
}

iframe{
    width: auto;
    padding: 30px;
}



.photo{
    max-width: 100%;
    min-height: 300px;
    background-image: url(/Images/cafe-especialidad-buenosaires-PadreCoffee.jpg);
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
}

.text {
    justify-content: center;
    align-content: center;

}

.text p{
    margin: 20px 0px 50px 0px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Productos */

.productosImg{
    justify-content: center;
}

.productosImg h2{
    margin: 40px 0px 40px 0px;
    background-color: black;
    color: white;
}
.productosImg img{
    max-width: 300px;
    max-height: 450px;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
}

.productosImg p{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.access{
    justify-content: center;
    align-items: center;
}

.access img{
    max-width: 60%;
    border-radius: 20px;
    margin: 10px 0px 20px 0px;
    box-shadow: 1px 1px 20px grey;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.image{
    justify-content: center;
    align-content: center;
}


/* Nuestra Cafetería */

.cafeteria{
    display: grid;
}
/* Footer */
footer {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
}

.forest-ext-shadow-host{
    height: 0px;
}

#forest-ext-shadow-host{
    height: 0px;
    width: 0px;
    visibility: hidden;
}