* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
}

/* MAIN */

main {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0px 20px 0px;
    font-size: 70px !important;
    text-align: center;
}

h2 {
    margin: 20px 0px 0px 0px;
    font-size: 50px;
    text-align: center;
}




.photo{
    max-width: 100%;
    min-height: 300px;
    background-image: url(/Images/cafe-especialidad-buenosaires-PadreCoffee.jpg);
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
}

.text {
    justify-content: center;
    align-content: center;

}

.text p{
    margin: 20px 0px 20px 0px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
}